<div class="modal__footer">
	<div class="choose">
		<p>{{{download_button_copy}}}</p>
		<a title="Download Firefox" href="http://mozilla.org/firefox/personal/?utm_source=foxyeahsite&utm_medium=referral&utm_content={{post_name}}&utm_campaign=sc-2015-foxyeah" class="button button--white">Choose Firefox</a>
	 </div>
 </div>