/*------------------------------------*\
    Modal
\*------------------------------------*/


.modal {
  position: fixed;
  transform: translate(0,0);
  width: auto;
  height: 100%;
  left: 0; right: 0;
  top: 0; bottom: 0;
  z-index: 990;
  background: rgba($color-black, 0.85);
  -webkit-overflow-scrolling: touch;

  h3 {
    margin-bottom: 15px;
  }

  li {
    margin-top: 15px;
  }

  display: none;
}


.modal__outer {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 999;
}


.modal__inner {
  width: 100%;
  // height: auto;
  height: 100%;
  max-height: 100%;
  // margin: 56px auto;
  overflow-x: hidden;
  overflow-y: auto;

  padding: 0 30px;
}


.modal--image,
.modal--image + .choose {
  max-width: 550px;
  margin: 0 auto;
  height: 100%;
}


.modal--video,
.modal--video + .choose {
  max-width: 640px;
  margin: 0 auto;
}


// .modal--email {
//   @include bp(bp-md) {
//     position: relative;
//     top: 50%;
//     transform: translateY(-50%);
//   }
// }

.modal--email {
  position: relative;
  margin-top: 70px !important;
  margin-bottom: 30px !important;
}


//prevent scroll when modal is open
body.modal--open {
  .tiles-container {
    overflow: hidden;
    position:fixed;
    width:100%;
  }
}


.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 35px;
  height: 0;
  overflow: hidden;
}


.video-container iframe {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}


.no-modal {
  cursor: default !important;
}


.choose {
  background: $color-orange;
  padding: 15px; // 30
  color: $color-white;
  font-weight: 300;
  text-align: center;

  @include bp(bp-sm) {

  }

  p {
    margin: 0 auto;
    max-width: 520px;
    text-align: left;
    margin-bottom: 10px; // 20
    font-size: 13px; // 14
    text-align: center;
    // border: 1px solid red;



    @include bp(bp-sm) {
      font-size: 14px;
      margin-bottom: 15px;
      text-align: left;
    }

    @include bp(bp-md) {
      font-size: 16px;
      margin-bottom: 15px; // 20
      text-align: center;
    }
  }

  .button {
    font-size: 14px;
    padding: 8px 15px;
    border-radius: 30px;
    font-weight: 400;

    @include bp(bp-md) {
      font-size: 20px;
      padding: 10px 20px;
      border-radius: 30px;
      margin-bottom: 5px;
    }
  }
}

.modal__inner {
  .social {
    .share__count {
      display:none;

    }
    .share {
      padding-left: 0;
      position:relative;
      right:auto;
      top:auto;
      // border: 1px solid green;
    }
  }
}


/*
*   Gcaptcha Box
*/
footer + div {
  opacity:.5;
}


.modal__footer {
  // border: 1px solid red;
  // background: pink;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;

  .share {
    // background: pink;
    margin-left: 18px;
    text-align:center;
    position:relative;
    &.share--tile {
      left:auto;
      width:auto;
      padding-bottom:0;
    }
    li {
      display:inline-block;
      float:none;
      &:last-child {
        margin-right:0;
      }
    }
  }
  .social {
    background-color:$color-orange;
    
    ul {
      
      li {
        &:first-child {
            position: relative;
            top: -10px;
        }
        strong {
            color: white;
            font-size: 26px;
            font-weight: 400;
            margin-right: 14px;
        }
      }
    }
    p {
      color:white;
      padding:0 0 20px 0;
    }

  }

  // opacity: 0.7;
}


.figure {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  white-space: no-wrap;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  // border: 1px solid green;

  border: 15px solid transparent;

  &.figure--email {
    border: none;
    height: 350px;
  }

}

.parsley-errors-list li {
  font-size: 13px;
  position: relative;
  top: -10px;
  color: $color-orange;
}

p.preview {
  margin-top: 5px;
  font-size: 14px;
  line-height: 15px;
  color: darken($color-darkgray, 20);
}